[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = aiwei
[access "refs/*"]
	owner = group user/pasricha012
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/pasricha012
	label-Verified = -1..+1 group user/pasricha012
	push = group user/pasricha012
	read = group user/pasricha012
	rebase = group user/pasricha012
	removeReviewer = group user/pasricha012
	submit = group user/pasricha012
[access "refs/heads/*"]
	create = group user/pasricha012
	push = +force group user/pasricha012
	pushMerge = group user/pasricha012
	read = group user/pasricha012
[access "refs/tags/*"]
	push = group user/pasricha012
	push = +force group user/pasricha012
